.alert__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	top: 15%;
	margin: auto;
	opacity: 1;
}

.container__alert {
	width: 80%;
	padding: 12px;
	border-radius: 5px;
	text-align: center;
}

.container__alert-hide {
	opacity: 0;
	animation: fadeOut ease 6s;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
